section.breadcrumbs
	.container
		a(href="javascript:;" class="breadcrumbs-link") Главная
		span.breadcrumbs-divider >
		a(href="javascript:;" class="breadcrumbs-link") Home & Garden
		span.breadcrumbs-divider >
		a(href="javascript:;" class="breadcrumbs-link") Бытовые пылесосы
		span.breadcrumbs-divider >
		a(href="javascript:;" class="breadcrumbs-link breadcrumbs-link--active") Пылесос с аквафильтром Karcher DS 6.000 Mediclean