// В этом файле должны быть стили для БЭМ-блока item-about, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.item-about{
	width: 48%;
}

.item-about__header{
	border-bottom: 2px solid #ededed;
	position: relative;
}

.instock__icon{
	font-size: 12px;
	color: #6e6e6e;
	display: flex;
    align-items: center;
}

.instock__icon-img{
	margin-right: 10px;
}

.item-about__title{
	font-size: 18px;
	margin: 10px 0 25px;
    text-transform: uppercase;
    letter-spacing: -1.8px;
}

.item-about__badge{
	position: absolute;
	top: -1px;
    right: -1px;
	display: flex;
    justify-content: space-between;
    width: 93px;
}

.badge{
	font-size: 12px;
	text-transform: uppercase;
    font-weight: bold;
    height: 50px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge--black {
    color: #fff;    
    background: url(../img/badge--black.png) no-repeat;
}

.badge--yellow {
    background: url(../img/badge--yellow.png) no-repeat;
}

.item-about__rate{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 82px;
	border-bottom: 2px solid #ededed;
}

.item__stars__block{
	display: flex;
	align-items: center;
}

.item__stars-qnt{
	margin-left: 8px;
    color: #cccccc;
    font-size: 14px;
}

.item__stars input:checked ~ label,
.item__stars label, .item__stars label:hover,
.item__stars label:hover ~ label{
	background: url("../img/stars.png") no-repeat;
}

.item__stars{
	overflow: hidden;
	zoom: 1;
	position: relative;
	float: left;
}

.item__stars input{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	width: 19px;
	height: 18px;
 	position: absolute;
	top: 0;
	z-index: 0;
}

.item__stars input:checked ~ label{
	background-position: 0 -22px;
	height: 19px;
	width: 18px;
}

.item__stars label{
	background-position: 0 0;
	height: 19px;
	width: 18px;
	float: right;
	cursor: pointer;
	margin-right: 3px;
	position: relative;
	z-index: 1;
}

.item__stars label:hover, .item__stars label:hover ~ label{
	background-position: 0 -22px;
	height: 19px;
	width: 18px;
}

.item__stars #item__stars{
	left: 0px;
}
.item__stars #item__stars1{
	left: 21px;
}
.item__stars #item__stars2{
	left: 42px;
}
.item__stars #item__stars3{
	left: 63px;
}
.item__stars #item__stars4{
	left: 84px;
}

.item__review{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
    cursor: pointer;
    display: flex;
}

.item__review i{
	margin-right: 10px;
    margin-top: -5px;
	font-size: 20px;
}

.item__review span{
	border-bottom: 1px dotted #000;
}

.item-choose{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 102px;
}

.item-choose__cart{
	position: relative;
	min-width: 285px;
}

.item-choose-price{
	border: 3px solid #ffec00;
	width: 230px;
	height: 45px;
	font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.to-cart-btn{
	position: absolute;
	width: 63px;
	height: 45px;
	font-size: 20px;
	background: #ffec00;
	top: 0;
    right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.to-cart-btn:before {
    content: "";
    border-top: 14px solid transparent;
    border-left: 9px solid #ffffff;
    border-bottom: 14px solid transparent;
    z-index: 5;
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    margin: auto;
}

.price-cuurency{
	font-size: 17px;
	margin-right: 4px;
}

.price-number{
	margin-right: 5px;
}

.item-choose__cart-right{
   	display: flex;
}

.item-choose__favs{
    margin-right: 24px;
}

.item-choose__favs, .item-choose__compare{
	display: flex;
	align-items: center;
	cursor: pointer;
}

.item-choose__favs i, .item-choose__compare i{
	font-size: 20px;
}

.to-compare-btn, .to-favs-btn{
	margin-right: 8px;
}

.item-choose-text{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px dotted #000;
}

.item-info p{
	font-size: 14px;
	color: #6e6e6e;
	padding: 10px 0;
}

.item-info p:first-child{
	padding-top: 0;
}

.item-info p:last-child{
	padding-top: 8px;
}

.item-info a, .item-info strong{
	color: #000;
}

.item-info a{
	font-weight: bold;
	border-bottom: 1px dashed #000;
}

.item-info-description{
	line-height: 18px;
}

@media(max-width:1199px){
	.item-choose {
	    align-items: flex-start;
    	flex-direction: column;
    	height: 135px;
    	padding: 25px 0;
    }
}

@media(max-width:991px){
	.item-about__badge {
    	flex-direction: column;
    	width: auto;
	}

	.badge--yellow {
	    margin-top: -20px;
	}
}

@media(max-width:800px) and (min-width: 630px){
	.main-content .item-about .item-choose {
	    align-items: center;
	    flex-direction: row;
    }
}

@media(max-width:515px){
	.item-about__title {
	    width: 87%;
	}

	.item__stars-qnt {
    	margin-left: 5px;
	}

	.item__review i {
    	margin-right: 5px;
	}
}