//- Стандартный шаблон страницы

doctype html
html(lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    link(rel='manifest', href='/site.webmanifest') 
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='theme-color', content='#ffffff')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.min.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    .page__inner
        block header
        include mixins.pug

        block content

        block footer

    block page-bottom
      script(src='js/script.min.js')
