//- ВНИМАНИЕ! Этот файл генерируется автоматически. Не пишите сюда ничего вручную!
//- Читайте ./README.md для понимания.

include ../blocks/header/header.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/item-title-img/item-title-img.pug
include ../blocks/main-content/main-content.pug
