section.item-gallery
	.gallery-img-sm
		.item-gallery__element--sm.active
			a(href="./img/img-gallery--lg1.jpg" class="item-gallery-link")
				img(src="./img/img-gallery--sm1.jpg" alt="" class="item-gallery-img")
		.item-gallery__element--sm.item-gallery__element--hidden
			a(href="./img/img-gallery--lg2.jpg" class="item-gallery-link")
				img(src="./img/img-gallery--sm2.jpg" alt="" class="item-gallery-img")
		.item-gallery__element--sm.item-gallery__element--hidden
			a(href="./img/img-gallery--lg3.jpg" class="item-gallery-link")
				img(src="./img/img-gallery--sm3.jpg" alt="" class="item-gallery-img")
		.item-gallery__element--sm.item-gallery__element--hidden
			a(href="./img/img-gallery--lg4.jpg" class="item-gallery-link")
				img(src="./img/img-gallery--sm4.jpg" alt="" class="item-gallery-img")
	.gallery-img-lg
		.item-gallery__element--bg
			.gallery__loupe
				img(src="./img/loupe.png" alt="" class="gallery__loupe-img")
			img(src="./img/img-gallery--lg1.jpg" id="galleryBig" alt="" class="item-gallery-img")