extends pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header

block content

block footer

//- block page-bottom
//-   script(src="js/some.js")
