// В этом файле должны быть стили для БЭМ-блока header, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

#shadow{
    display: none;
	height:100%;
	width:100%;
	z-index:10;
	position: fixed;
	top:0px;
	left:0px;
	background:#000;
}

.header__top{
	width: 100%;
	min-height: 38px;
	background: #ededed;
	border-bottom: 1px solid #cccccc;
}

.header__top-nav{
	font-size: 13px;
	display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 37px;
    position: relative;
}

.header__top--fixed{
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0; 
	width: 100%;
	background: #000;
}

.header__top--fixed .nav-item-link {
	color: #fff;
}

.header__top--fixed .nav-item--active:after{
	border-bottom: 7px solid #fff;
}

.header__top--fixed .registration, .header__top--fixed .login{
	display: none;
}

.header__top--fixed  .cart-block__icon {
    display: inline-block;
    background: #6e6e6e;
}

.header__top--fixed .cart-block__favs:hover .cart-block__icon, .header__top--fixed .cart-block__compare:hover .cart-block__icon, .header__top--fixed  .cart-block__basket:hover .cart-block__icon {
    color: #000;
}

.header__top--fixed .main-nav__cart-block{
	color: #fff;
}

.header__nav-list{
	list-style: none;
}

.cart-place, .header__entry{
	display:flex;
}

.entry__link{
	padding: 0 10px;
	display: flex;
	align-items: center;
    min-height: 37px;
    cursor: pointer;
}

.registration, .login{
	display: flex;
}

.entry__link:hover{
	background: #f8f8f8;
}

.header__main{
	display: flex;
	padding: 20px 0 25px;
}

.header__logo{
	width: 675px;
}

.logo-link-img{
	max-width: 295px;
}

.logo-link-text{
	display: block;
	color: #cccccc;
	font-size: 12px;
	margin-top: 10px;
}

.headerr__right-block{
	display: flex;
    justify-content: space-around;
    width: 100%;
}

.header__adress, .header__time, .header__tel{
	display: flex;
	font-size: 14px;
	line-height: 1.4;
}

.header__tel{
	font-size: 18px;
}

.header__adress-img, .header__time-img, .header__tel-img{
	margin-right: 18px;
	margin-top: 5px;
}

.header__adress-text, .header__time-text, .header__tel-text{
	display: flex;
    flex-direction: column;
}

.header__tel-text{
	position: relative;
}

.header__tel__back-call{
	position: absolute;
	top: 73%;
}

.back-call__btn{
	background: #ffec00;
	height: 30px;
    width: 135px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.back-call__btn:after{
	content: '';
	width: 0;
    height: 0;
	position: absolute;
	top: -15px;
    left: 0;
    right: 0;
    margin: auto;
    border: 9px solid transparent;
    border-bottom: 7px solid #ffec00;
}

.main-nav{
	border-top: 3px solid #ededed;
	border-bottom: 3px solid #ededed;
	min-height: 50px;

}

.main-nav__inside{
	display: flex;
	justify-content: space-between;
	position: relative;
}

.main-nav__catalog{
	min-width: 300px;
}

.main-nav__catalog-btn{
	display: inline-flex;
	justify-content: center;
    align-items: center;
	background: #ededed;
	width: 140px;
	height: 46px;
	font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

.main-nav__catalog-btn:after{
	content: '';
	border: 5px solid transparent;
	border-top: 6px solid #000;
	margin-left: 10px;
	margin-top: 4px;
}

.main-nav__catalog-btn--active{
	background: #ffec00;
}

.main-nav__catalog-btn--active:after{
	content: '';
	border: 5px solid transparent;
    border-left: 6px solid #000;
    margin-left: 10px;
    margin-top: 0px;
}

.main-nav__catalog-btn:hover{
	background: #ffec00;
}

.nav-tabs{
	position: absolute;
	left: 140px;
    top: 0;
	z-index: 999;
}

.tabs-link{
	display: inline-flex;
	align-items: center;
	height: 46px;
	padding: 0 20px;
    font-weight: 600;
	background: #ededed;
	color: #000;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}

.tabs-link:hover{
	background: #ffec00;
	color: #000;
}

.tablinks.active{
	background: #000;
	color: #ffec00;
	position: relative;
}

.tablinks.active:after{
	content: '';
	width: 0;
    height: 0;
    margin: auto;
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border: 10px solid transparent;
	border-bottom: 8px solid #fff;
}

.tabcontent{
    display: none;
}

.tabcontent.active{
	display: block;
	max-width: 1120px;
	width: 100%;
}

.tabs-content--white-bg{
	display: flex;
    flex-wrap: wrap;
    background: #fff;
    margin-left: -140px;
    padding: 20px 30px;
    border-bottom: 1px solid #cccccc;
}

.tabs-content--gray-bg{
	display: flex;
    flex-wrap: wrap;
    background: #ededed;
    margin-left: -140px;
    padding: 20px 30px;
}

.tabs-content__item{
	width: 16.6666666667%;
	margin: 10px 0;
	height: 160px;
	position: relative;
	background: #fff;
}

.tabs-content__item--sm{
	height: 100px;
	margin: 10px;
}

.tabs-item__img{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.tabs-item__img--sm{
    height: 70px;
}

.tabs-item__text{
	font-size: 12px;
	line-height: 1.5;
	font-weight: bold;
	text-align: center;
}

.tabs-content__item:hover:after {
    content:"";
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: #ffec00;
    opacity: 0.8;
    z-index: 5;
}

.tabs-content__item:hover .tabs-item__text:after{
    content:"";
    position: absolute;
    bottom: -1px;
    border: 10px solid transparent;
	border-bottom: 8px solid #fff;
}

.tabs-content__item--sm:hover .tabs-item__text:after{
    content:"";
    position: absolute;
    bottom: -1px;
    border: 10px solid transparent;
	border-bottom: 8px solid #ededed;
}

.tabs-content__item:hover .tabs-item__text{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    font-size: 14px;        
    z-index: 10;
}

.tabs-content__item:hover .tabs-item__text span{
    padding: 8px;
    margin: 15px;
    border: 2px solid #000000;
}

.tabs-content__item:hover .tabs-item__img{
   height: 100%;
}

.main-nav__search{
	display: flex;
	align-items: center;
}

form{
	display: flex;
}

.search-input{
	height: 32px;
	width: 371px;
	border: 2px solid #ededed;
	font-size: 13px;
	padding-left: 10px;
}

.search-btn{
	background: #ededed;
	width: 29px;
	height: 32px;
	margin-left: -3px;
	display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.search-btn:after{
	content: '';
	border: 10px solid transparent;
	border-right: 6px solid #ededed;
	position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    margin: auto;
}

.search-btn:hover{
	background: #ffec00;
}

.search-btn:hover:after{
	border-right: 6px solid #ffec00;
}

.main-nav__cart-block{
	display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 330px;
}

.cart-block__favs, .cart-block__compare, .cart-block__basket{
	min-width: 70px;
	cursor: pointer;
	display: flex;
    align-items: center;
}

.main-nav__cart-block i{
	font-size: 20px;
}

.cart-block__icon{
	display: inline-block;
    background: #ededed;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    margin-left: -4px;
    z-index: -1;
}

.cart-block__favs:hover .cart-block__icon,
.cart-block__compare:hover .cart-block__icon,
.cart-block__basket:hover .cart-block__icon{
	background: #ffec00;
}

.cart-block__basket-text{
	font-size: 12px;
	margin-left: 10px;
}

.nav-toggle{
	display: none;
}

@media(max-width:1199px){
	.main-nav__catalog {
		min-width: 30%;
	}
}

@media(max-width:991px){
	.header__logo {
   		width: 320px;
	}

	.header__nav-item {
    	padding: 0 7px;
    }

    .header__adress-img, .header__time-img, .header__tel-img {
   		margin-right: 5px;
	}

	.tabs-link {
	    padding: 0 15px;
   		font-size: 13px;
   		text-transform: unset;
    }

    .search-input {
	    width: 310px;
	}

	.cart-block__favs, .cart-block__compare, .cart-block__basket {
    	min-width: 45px;
    }

    .tabs-content__item {
    	width: 25%;
    }
}

@media(min-width:801px){
	.header__nav-item{
		display: inline-block;
		padding: 0 10px;
		position: relative;
	}

	.nav-item-link{
		color: #000;
		cursor: pointer;
	}

	.nav-item--active{
		color: #6e6e6e;
	}

	.nav-item--active:after{
		content: '';
		width: 0;
	    height: 0;
		position: absolute;
		top: 11px;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    border: 9px solid transparent;
	    border-bottom: 7px solid #cccccc;
	}

	.header__top--fixed .main-nav__catalog-btn{
		background: transparent;
	    font-size: 13px;
	    color: #fff;
	    text-transform: none;
	    font-weight: normal;
	    width: auto;
	    height: 37px;
	    padding: 0 10px;
	}

	.header__top--fixed .main-nav__catalog-btn--active:after{
		border-left: 6px solid #fff;
		border: 5px solid transparent;
	}

	.header__top--fixed .main-nav__catalog {
	    min-width: auto;
    	display: inline-block;
	}

	.header__top--fixed .nav-tabs{
		left: 155px;
	}

	.header__top--fixed nav.header__nav a {
	    max-height: 37px;
	    text-transform: none;
	}

	.header__top--fixed .main-nav__catalog-btn:after {
	    border-top: 6px solid #fff;
	    margin-top: 5px;
	}
}

@media(max-width:800px){
	.header__adress, .header__time{
		display: none;
	}

	.headerr__right-block {
	    justify-content: flex-end;
	}

	.nav-toggle{
		display: block;
		color: #fff;
		font-size: 25px;
		margin-top: 3px;
	}

	#menu.active {
		max-height: 400px;
	}

	#menu {
		max-height: 0;
		background: #000;
    	position: absolute;
    	overflow: hidden;
    	top: 38px;
    	right: 0;
    	left: 0;
    	z-index: 1000;
	}

	#menu li {
		display: block;
   		padding: 15px;
    	border-bottom: 1px solid #cccccc;
	}

	#menu li a{
		color: #fff;
	}

	.header__top--fixed .fixed-tabs, .cart-block__basket-text{
		display: none;
	}

	.search-input {
   		width: 190px;
	}

	.main-nav__catalog-btn {
		width: 120px;
    	font-size: 14px;
    }

    .nav-tabs {
	   left: 135px;
	}

    .tabs-link {
    	padding: 0 10px;
    	font-size: 12px;
    }
}

@media(max-width:630px){
	.main-nav__catalog-btn--active:after {
	    border-top: 6px solid #000;
	    border-left: 5px solid transparent;
    	margin-left: 10px;
    	margin-top: 9px;
	}

	.nav-tabs {
   		left: 15px;
   		top: 46px;
	}

	.tabs-content__item {
    	width: 50%;
	}

	.tabs-content__item--sm {
    	width: 80%;
    	margin: 10px auto;
	}

	.tabs-content--white-bg, .tabs-content--gray-bg {
		margin-left: 0;
	}

	.tablinks {
 		width: 100%;
    	justify-content: center;
    }
}

@media(max-width:515px){
	.header__main {
	    flex-direction: column;
    	text-align: center;
    	min-height: 270px;
    }

    .header__logo {
   		width: 100%;
   		margin-bottom: 15px;
	}

	.headerr__right-block {
	    justify-content: center;
	}

	.header__tel__back-call {
   		top: 65px;
	}

	.main-nav__search {
    	position: absolute;
    	top: -45px;
    	left: 0;
    	right: 0;
    }

	form {
    	width: 90%;
    	margin: 0 auto;
	}

	.search-input {
    	width: 100%;
	}
}